temp
scripts/tmp/packages
scripts/tmp/unpacked/apps
scripts/tmp/unpacked/bin
scripts/tmp/unpacked/doc
scripts/tmp/unpacked/lib
scripts/tmp/unpacked/share
scripts/tmp/unpacked/etc/setup
scripts/tmp/unpacked/etc/ini
